.contacts {
    background-color: var(--light-color);
    padding: 50px 0;
}
.location {
    font-weight: 200;
    color: var(--primary-color);
}
.email {
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0;
    color: var(--dark-color);
}
.phone {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
}
.contacts-icons {
    margin-top: 32px;
}

.contacts-icons .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 60px;
    margin-right: 20px;
}
.contacts-icons .icon:last-child {
    margin-right: 0;
}
.contacts-icons .icon img {
    width: 26px;
}
