.hero {
    height: 100vh;
    background-color: #f4f5f7;
    background-color: var(--light-color);
    background-image: url('../assets/images/language-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
}

.hero-content {
    text-align: start;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c2f3f;
}

.hero-content h2 {
    font-size: 1.8rem;
    color: #00a8e8;
    margin-top: 10px;
}

.hero-content p {
    font-size: 1.1rem;
    color: #555;
    max-width: 500px;
    margin-top: 20px;
}

.hero-buttons .btn {
    border-radius: 25px;
    padding: 10px 22px;
    font-weight: 500;
    font-size: 1rem;
}

.view-projects-btn {
    background-color: #00a8e8;
    color: white;
    border: none;
}

.view-projects-btn:hover {
    background-color: #007ebf;
    color: white;
}

.download-cv-btn:hover {
    background-color: transparent;
    color: #2c2f3f;
    border: 2px solid #2c2f3f;
}

.download-cv-btn {
    background-color: #2c2f3f;
    color: white;
    border: 2px solid transparent;
}

.personal-image {
    max-height: 90vh;
    object-fit: contain;
    display: block;
}
