.tech-stack {
    background-color: var(--dark-color);
    padding: 50px 0;
}

.tech-stack-row {
    margin-bottom: 16px;
}

.tech-stack-row:last-of-type {
    margin-bottom: 0;
}

.hexagon-icon-container {
    filter: drop-shadow(4px 2px 0px rgba(244, 245, 247, 0.25));
    transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.hexagon-icon-container:hover {
    filter: drop-shadow(4px 2px 0px rgba(255, 255, 255, 0.8));
    transform: translateY(-2px);
}
.hexagon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 98px;
    border-radius: 8px;
    -webkit-mask-image: url('../assets/images/hexagon.svg');
    mask-image: url('../assets/images/hexagon.svg');
    mask-repeat: no-repeat;
}

.hexagon-icon img {
    width: 46%;
    filter: drop-shadow(4px 2px 0px rgba(0, 0, 0, 0.25));
}

#mongo-db.hexagon-icon img {
    width: 22%;
}
